<app-alert
  *ngIf="showAlert"
  [color]="alertColor"
>
  {{ alertMessage }}
</app-alert>
<form
  [formGroup]="registerForm"
  (ngSubmit)="register()"
>
  <!-- Name -->
  <div class="mb-3">
    <label class="inline-block mb-2">
      Name
<!--      <span *ngIf="registerForm.controls.name.hasValidator()">*</span>-->
    </label>
    <app-input
      [control]="name"
      placeholder="Enter your name"
    ></app-input>
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <app-input
      [control]="email"
      type="email"
      placeholder="Enter email address"
    ></app-input>
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label class="inline-block mb-2">Age</label>
    <app-input
      [control]="age"
      type="number"
      placeholder="Enter your age"
    ></app-input>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <app-input
      [control]="password"
      type="password"
      placeholder="Enter your password"
    ></app-input>
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
      <label class="inline-block mb-2">Confirm Password</label>
    <app-input
      [control]="passwordConfirm"
      type="password"
      placeholder="Type your password again"
    ></app-input>
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <app-input
      [control]="phoneNumber"
      placeholder="Enter your phone number, e.g. 06 12 34 56 78"
      format="0000000000"
    ></app-input>
  </div>
  <button
    type="submit"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500"
  >
    Submit
  </button>
  <p
    *ngIf="registerForm.touched && !registerForm.valid"
    class="text-red-400"
  >
    Please check the form. Not all fields are filled correct
  </p>
</form>

